- name: Run "apt update"
  apt:
    update_cache: true
- name: Update all packages to the latest version
  apt:
    upgrade: dist
- name: Remove useless packages from the cache
  apt:
    autoclean: true
- name: Remove dependencies that are no longer required
  apt:
    autoremove: true
- name: Reboot machines
  reboot:
    reboot_timeout: 300
